body
{
    margin: 0;
    padding: 0;
}
*
{
    font-family: Ebrima, "Script MT Bold", "Barlow Condensed ExtraBold", "Segoe Script", sans-serif;
    box-sizing: border-box;
}
section
{
    padding: 15px;
}
.div-creation_container
{
    width: 100%;
    height: auto;
}
.header-creat_container
{
    padding: 15px;
}
.p-creat_container_para1
{
    width: 50%;
    margin: auto;
    font: 2.5em bold;
    text-align: center;
}
.div1-creation_hand_section1, .div2-creation_hand_section2, .div3-creation_hand_section3
{
    border: 1px solid black;
    padding: 3px;
    background: #0b8db4;
    color: #000000;
}
.div1-creation_hand1_section1
{
    background: #ef3475;
}
.div1-creation_hand1_section2
{
    background: #0b0d8c;
}
.div1-creation_hand1_section3
{
    background: #050f50;
}
p
{
    margin:0;
}
.div1-creation_hand1_section3, .div1-creation_hand1_section2, .div1-creation_hand1_section1
{
    font-size: 1.2em;
    width: 40%;
    padding: 1%;
    margin-left: auto;
    text-align: center;
    border: 1px solid black;
    color: #ffffff;
    position: relative;
    top: -5px;
    left: 5px;
}
div[class*="div2-creation_hand2_section"]
{
    padding: 5px;
    margin-top: 20px;
}


@media(min-width: 768px) and (max-width: 991px)
{
    .section-creat_container1, .section-creat_container2
    {
        width: 50%;
    }
    .section-creat_container1
    {
        float: right;
    }
    .section-creat_container3
    {
        width: 100%;
    }
    .div1-creation_hand_section1, .div2-creation_hand_section2, .div3-creation_hand_section3
    {
        border: 2px solid black;
        padding: 3px;
        height: 200px;
        color: #ffffff;
    }
    .p-creat_container_para1
    {
        text-align: center;
    }
    .div1-creation_hand1_section1
    {
        background: #ef3475;
    }
    .div1-creation_hand1_section2 {

        background: #0d964a;
    }
    .div1-creation_hand1_section3
    {
        background: #050f50;
    }
    .div1-creation_hand1_section3, .div1-creation_hand1_section2, .div1-creation_hand1_section1
    {
        padding: 1%;
        position: relative;
        top: -5px;
        left: 5px;
    }
}

@media(min-width: 992px)
{
    section
    {
        float: left;
        width: 33.32%;
    }
    .div-creation_container
    {
        width: 100%;
        height: 250px;
        position: absolute;
    }
    .p-creat_container_para1
    {
        text-align: center;
    }
    .div1-creation_hand_section1, .div2-creation_hand_section2, .div3-creation_hand_section3
    {
        border: 1px solid black;
        position: relative;
        padding: 3px;
    }
    .div1-creation_hand1_section1
    {
        background: #ef3475;
    }
    .div1-creation_hand1_section2
    {
        background: #0b0d8c;
    }
    .div1-creation_hand1_section3
    {
        background: #050f50;
    }
    p
    {
        margin:0;
    }
    .div1-creation_hand1_section3, .div1-creation_hand1_section2, .div1-creation_hand1_section1
    {
        width: 40%;
        padding: 2%;
        margin-left: auto;
        text-align: center;
        position: relative;
        top: -5px;
        left: 5px;
    }
    div[class*="div2-creation_hand2_section"]
    {
        position: relative;
        padding: 5px;
        margin-top: 20px;
    }
}